<?xml version='1.0' encoding='utf-8'?>
<Server port="8005" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <GlobalNamingResources>
    <Resource name="UserDatabase"
      auth="Container"
      type="org.apache.catalina.UserDatabase"
      description="User database that can be updated and saved"
             factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
      pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>

  <Service name="Catalina">
    <Executor name="tomcatThreadPool" namePrefix="catalina-exec-"
        maxThreads="${tomcat.maxThreads}" minSpareThreads="${tomcat.minSpareThreads}"/>

    <Connector port="8080"
      executor="tomcatThreadPool"
      protocol="HTTP/1.1"
      connectionTimeout="${tomcat.httpTimeout}"
    />
    <Connector port="8009"
      executor="tomcatThreadPool"
      protocol="AJP/1.3"
    />
    <Engine name="Catalina"
      defaultHost="localhost">
      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase"/>
      </Realm>

      <Host name="localhost"
          appBase="webapps"
          unpackWARs="true"
          autoDeploy="true">
        <Valve className="org.apache.catalina.valves.AccessLogValve"
           directory="logs"
           prefix="access"
           suffix=".log"
           rotatable="true"
           pattern="%h &quot;%{begin:yyyy-MM-dd'T'HH:mm:ss:SSSZ}t&quot; %{begin:msec}t &quot;%r&quot; &quot;%{Referer}i&quot; &quot;%{User-Agent}i&quot; %s %b &quot;%I&quot; %D %S"/>

      </Host>
    </Engine>
  </Service>
</Server>
